<div class="ui  secondary menu " style="font-family: 'Prompt', sans-serif;font-weight:200">
<a class="active item" data-tab="aa">โครงการ</a>
  <a class="item" data-tab="ab">บริการวิชาการ</a>
  <a class="item" data-tab="ac">รางวัล</a>
  <a class="item" data-tab="ad">อื่น ๆ</a>
</div>


<div class="ui active tab basic segment" data-tab="aa">
  <div class="ui horizontal teal statistic tiny ">
    <div class="label">
      กำลังแสดง
    </div>
    <div class="value ">
      5
    </div>
    <div class="label">
      จาก
    </div>
    <div class="value">
      204
    </div>
  </div>


  <% if(portfolioDataType1.length){
    for(var i = 0;i < portfolioDataType1.length;i++) {
       if(portfolioDataType1[i].pfoCatagoryID == 'โครงการ'){ %>
  <a class="ui link card" href="#">
    <div class="content">
      <div class="header"><%=portfolioDataType1[i].pfoTitile%></div>
      <div class="meta">
        <span class="category"><%=portfolioDataType1[i].pfoCatagoryID%> | <i class="calendar alternate outline icon"></i><%=portfolioDataType1[i].pfoYears%></span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>

  </a>
  <% }
  }
  }else{ %>
  ยังไม่มีข้อมูลในส่วนนี้
  <% } %>



  <button class="fluid ui button">Load more</button>
</div>

<div class="ui tab basic segment" data-tab="ab">

  <% if(portfolioDataType2.length){
    for(var i = 0;i < portfolioDataType2.length;i++) {
       if(portfolioDataType2[i].pfoCatagoryID == 'บริการวิชาการ'){ %>
  <a class="ui link card" href="#">
    <div class="content">
      <div class="header"><%=portfolioDataType2[i].pfoTitile%></div>
      <div class="meta">
        <span class="category"><%=portfolioDataType2[i].pfoCatagoryID%> | <i class="calendar alternate outline icon"></i><%=portfolioDataType2[i].pfoYears%></span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>

  </a>
  <% }
  }
  }else{ %>
  ยังไม่มีข้อมูลในส่วนนี้
  <% } %>


</div>

<div class="ui tab basic segment" data-tab="ac">

  <div class="ui  divided items">

    <a class="ui raised card" href="#">
      <div class="content">
        <div class="center aligned header">Jenny Hess</div>
        <div class="center aligned description">
          <p>Jenny is a student studying Media Management at the New School</p>
        </div>
      </div>
      <div class="extra content">
        <div class="center aligned author">
          <i class="trophy icon"></i> Jenny
        </div>
      </div>
    </a>


  </div>

</div>

<div class="ui tab basic  segment" data-tab="ad">

  <div class="ui unstackable divided items">
    <% if(portfolioDataType2.length){
      for(var i = 0;i < portfolioDataType2.length;i++) {
         if(portfolioDataType2[i].pfoCatagoryID == 'บริการวิชาการ'){ %>
    <a class="ui link card" href="#">
      <div class="content">
        <div class="header"><%=portfolioDataType2[i].pfoTitile%></div>
        <div class="meta">
          <span class="category"><%=portfolioDataType2[i].pfoCatagoryID%> | <i class="calendar alternate outline icon"></i><%=portfolioDataType2[i].pfoYears%></span>
        </div>
        <div class="description">
          <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, typically consisting of alphabetic and numeric characters</p>
        </div>
      </div>

    </a>
    <% }
    }
    }else{ %>
    ยังไม่มีข้อมูลในส่วนนี้
    <% } %>
  </div>


</div>
