<% include ../partials/head %>
<title>ประวัติการศึกษา | RMUTT Researcher</title>

<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500&display=swap&subset=thai" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

<script src="js/edit-education-history.js"></script>

<link href="css/datepicker.css" rel="stylesheet">
<script src="js/plugins/datepicker.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">

<body class="thaiheader">
  <% include ../partials/topbar %>
  <% include ../partials/flash %>
  <div class="ui  container" style="padding:6rem 1rem 1rem 1rem;">

    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable two column grid container contentbody" style="min-height:55vh">

      <div class="column five wide">

        <% include ../partials/nav-edit %>

      </div>

      <div class="column eleven wide ">
        <div class="row">
          <h1 class="ui header" style="font-family: 'Sarabun', sans-serif;font-weight:600">ประวัติการศึกษา</h1>
          <div class="ui basic segment">
            <form class="ui form" action="/edit-education-history" method="post" enctype="multipart/form-data" id="educationHistory">



              <div class="two fields">
                <div class="field four wide">
                  <label>ปีที่สำเร็จการศึกษา</label>
                  <div class="ui  fluid input">
                    <input name="ehGraduateYear" id="ehGraduateYear" data-toggle="datepicker" placeholder="ใส่เป็นปี ค.ศ." autocomplete="off">
                  </div>
                </div>
                <div class="field">
                  <label>ระดับวุฒิการศึกษา</label>
                  <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="ehEducateLavel" id="ehEducateLavel">
                    <i class="dropdown icon"></i>
                    <div class="default text">กรุณาเลือกระดับวุฒิการศึกษา</div>
                    <div class="menu">


                      <% if(listEducateBG.length){
                        for(var i = 0;i < listEducateBG.length;i++) { %>
                      <div class="item" data-value="<%=listEducateBG[i].ebID%>"><%=listEducateBG[i].ebName%></div>
                      <% }
                      }else{ %>
                      <% } %>

                    </div>
                  </div>
                </div>
              </div>



              <div class="field">
                <label>วุฒิการศึกษา</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <div class="ui  fluid input">
                      <input name="ehEducationalBackground"id="ehEducationalBackground" type="text" placeholder="เช่น วศ.บ.(วิศวกรรมคอมพิวเตอร์)">
                    </div>
                  </div>

                </div>
              </div>

              <div class="field">
                <label>ชื่อสถานศึกษา</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <div class="ui  fluid input">
                      <input name="ehCollegeName"id="ehCollegeName" type="text" placeholder="เช่น มหาวิทยาลัยราชมงคลธัญบุรี">
                    </div>
                  </div>

                </div>
              </div>
              <button class="ui button primary" type="submit">เพิ่ม</button>

            </form>
            <div class="ui divider"></div>

            <div class="field">

              <table id="editEducationHistory" class="ui  table hover" style="width:100%">
                <thead>
                  <tr>
                    <th>ระดับวุฒิการศึกษา</th>
                    <th>วุฒิการศึกษา</th>
                    <th>ชื่อสถานศึกษา</th>
                    <th>ปีที่สำเร็จการศึกษา</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% if(listEducateHist.length){
                    for(var i = 0;i < listEducateHist.length;i++) { %>
                  <tr class=" ">
                    <td>
                      <%=listEducateHist[i].ebName%>
                    </td>

                    <td>
                      <%=listEducateHist[i].ehEducationalBackground%>
                    </td>

                    <td>
                      <%=listEducateHist[i].ehCollegeName%>
                    </td>

                    <td>
                      <%=listEducateHist[i].ehGraduateYear%>
                    </td>
                    <td>
                      <a onclick="return confirm('คุณต้องการที่จะ ลบหรือไม่ ?');" href="/edit-education-history/delete/<%=listEducateHist[i].ehID%>"><i class="trash icon"></i></a>
                    </td>

                  </tr>
                  <% }
                  }else{ %>
                  <tr>
                    <td colspan="5">No data</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>




            </div>







          </div>

        </div>
      </div>


    </div>


    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>


  </div>

  <% include ../partials/footer %>
</body>
