<% include ../partials/head %>

<script src="js/edit-workinfo.js"></script>

<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500&display=swap&subset=thai" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

<body>
  <% include ../partials/topbar %>
  <% include ../partials/flash %>
  <div class="ui  container" style="padding:6rem 1rem 1rem 1rem;">

    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">
          </div>
        </div>
        <div class="column">

          <div class="ui basic segment">
          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable two column grid container">

      <div class="column five wide">
        <% include ../partials/nav-edit %>
      </div>

      <div class="column eleven wide ">
        <div class="row">
          <h1 class="ui header" style="font-family: 'Sarabun', sans-serif;font-weight:600">ข้อมูลที่ทำงาน </h1>
          <div class="ui basic segment">
            <form class="ui form" encType="multipart/form-data" action="/edit-workinfo" method="post">
              <h4 class="ui dividing header thaiheader">ข้อมูลทั่วไป</h4>
              <div class="field">
                <label>ตำแหน่ง</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <input name="userPosition" type="text" placeholder="ตำแหน่ง" value="<%=userinfo.userPosition%>">
                  </div>
                </div>
              </div>
              <div class="field">
                <label>หน่วยงาน</label>
                <div class="fields">
                  <div class="sixteen wide field">

                    <select class="ui dropdown"name="userWpID">
                    <% for(var i=0; i<allworkplace.length; i++) {%>
                      <option class="item" value="<%=allworkplace[i].wpID%>"><%=allworkplace[i].wpName%></option>
                      <%if (allworkplace[i].wpID==userinfo.userWpID) { %>
                      <option selected class="item" value="<%=allworkplace[i].wpID%>"><%=allworkplace[i].wpName%></option>
                      <% } %>
                      <% } %>
                    </select>



                  </div>

                </div>
              </div>
              <div class="field">
                <label>ฝ่าย</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <input name="userSubWpName" type="text" placeholder="ฝ่าย " value="<%=userinfo.userSubWpName%>">
                  </div>

                </div>
              </div>
              <div class="field">
                <label>เบอร์ที่ทำงาน</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <input name="userWorkTel" type="text" placeholder="เบอร์ที่ทำงาน" value="<%=userinfo.userWorkTel%>">
                  </div>

                </div>
              </div>

              <div class="field">
                <label>อีเมลทำงาน</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <input name="userWorkEmail" type="text" placeholder="อีเมลทำงาน" value="<%=userinfo.userWorkEmail%>">
                  </div>

                </div>
              </div>

              <div class="field">
                <label>ที่อยู่ที่ทำงาน</label>
                <textarea name="userWorkAddress" style="margin-top: 0px; margin-bottom: 0px; height: 112px;" placeholder="ที่อยู่ที่ทำงาน"><%=userinfo.userWorkAddress%></textarea>
              </div>

              <button class="ui primary button" type="submit">ยืนยัน</button>
            </form>
          </div>

        </div>
      </div>


    </div>


    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>


  </div>

  <% include ../partials/footer %>
</body>

</html>
