<% include ../partials/head %>
<title>ประวัติการทำงานและการศึกษา | RMUTT Researcher</title>

<script src="js/edit-career-history.js"></script>

<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500&display=swap&subset=thai" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

<link href="css/datepicker.css" rel="stylesheet">
<script src="js/plugins/datepicker.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">



<body class="thaiheader">
  <% include ../partials/topbar %>
  <% include ../partials/flash %>
  <div class="ui  container" style="padding:6rem 1rem 1rem 1rem;min-height:50vh;">

    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable two column grid container contentbody">

      <div class="column five wide">

        <% include ../partials/nav-edit %>

      </div>

      <div class="column eleven wide " style="min-height:60vh">
        <div class="row">
          <h1 class="ui header" style="font-family: 'Sarabun', sans-serif;font-weight:600">ประวัติการทำงาน</h1>
          <div class="ui basic segment">
            <form class="ui form" action="/edit-career-history" method="post" enctype="multipart/form-data" id="careerHistory">

              <div class="fields">
                <div class="field ">
                  <label>ปีที่เข้าทำงาน</label>
                  <input data-toggle="datepicker" placeholder="ใส่เป็นปี ค.ศ." name="chEntYear" id="chEntYear" autocomplete="off">
                </div>
                <div class="field">
                  <label>ปีที่ออกจากงาน</label>
                  <input data-toggle="datepicker" placeholder="ใส่เป็นปี ค.ศ." name="chLeftYear" id="chLeftYear" autocomplete="off">
                </div>
              </div>

              <div class="field">
                <label>ตำแหน่ง</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <div class="ui  fluid input">
                      <input type="text" placeholder="ชื่อตำแหน่งที่เคยทำ" name="chPosition" id="chPosition">
                    </div>
                  </div>

                </div>
              </div>

              <div class="field">
                <label>ชื่อองค์กร</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <div class="ui  fluid input">
                      <input type="text" placeholder="ชื่อบริษัทหรือองค์กรที่เคยทำ" name="chCompany" id="chCompany">
                    </div>
                  </div>

                </div>
              </div>
              <button class="ui button primary" type="submit">เพิ่ม</button>
              <div class="ui error message"></div>

            </form>
            <div class="ui divider"></div>

            <div class="field">

              <table id="editCareerHistory" class="ui  table hover" style="width:100%">
                <thead>
                  <tr>
                    <th>ตำแหน่ง</th>
                    <th>ชื่อบริษัท/องค์กร</th>
                    <th>ปีที่เข้าทำงาน</th>
                    <th>ปีที่ออกจากงาน</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% if(data.length){
                    for(var i = 0;i < data.length;i++) { %>
                  <tr class=" ">
                    <td>
                      <%=data[i].chPosition%>
                    </td>

                    <td>
                      <%=data[i].chCompany%>
                    </td>

                    <td>
                      <%=data[i].chEntYear%>
                    </td>

                    <td>
                      <%=data[i].chLeftYear%>
                    </td>
                    <td>
                      <a onclick="return confirm('คุณต้องการที่จะ ลบหรือไม่ ?');" href="/edit-career-history/delete/<%=data[i].chID%>"><i class="trash icon"></i></a>
                    </td>

                  </tr>
                  <% }
                  }else{ %>
                  <tr>
                    <td colspan="4">No data</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>



            </div>







          </div>

        </div>
      </div>


    </div>


    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>


  </div>

  <% include ../partials/footer %>
</body>
