<% include ../partials/head %>
<script src="js/plugins/qr-code.js"></script>

<title><%=userData.firstname%> <%=userData.lastname%> | RMUTT Researcher</title>
<script>
  $(document).ready(function() {
    $('.menu .item').tab();

    $('.special.cards .image').dimmer({
      on: 'hover'
    });

  });
</script>
<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500&display=swap&subset=thai" rel="stylesheet">

<body>
  <% include ../partials/topbar %>

  <div class="ui  container" style="padding:6rem 1rem 1rem 1rem;">
    <div class="ui stackable two column grid container">

      <div class="column five wide ">
        <div class="row ">

          <% if (userData.profilePic != '' && userData.profilePic != undefined && userData.profilePic != null) { %>
          <img class="ui small centered rounded image" src="./userprofile/<%=userData.profilePic%>">
          <% } else {%>
          <img class="ui small centered rounded image" src="./userprofile/default-profile.jpg">
          <% } %>


          <h1 class="ui header centered">
            <% if (userData.firstname != '' && userData.firstname != undefined && userData.firstname != null) { %>
            <%=userData.firstname%> <%=userData.lastname%>
            <% } else {%>
            ชื่อ นามสกุล
            <% } %>




            <% if (userData.userPosition != '' && userData.userPosition != undefined && userData.userPosition != null) { %>
            <div class="sub header "><%=userData.userPosition%></div>
            <% } else {%>
            <div class="sub header ">ไม่ได้ระบุตำแหน่ง</div>
            <% } %>
          </h1>

          <% if (userinfo != ' ' && userinfo != undefined && userinfo.id== userData.id) { %>
          <div class="ui basic center aligned  segment">
            <div class="ui basic buttons ">
              <a href="/edit-profile">
                <button class="ui button tiny ">
                  แก้ไขข้อมูลส่วนตัว
                </button>
              </a>
              <a href="/all-works">
                <button class="ui button tiny">
                  แก้ไขผลงาน
                </button>
              </a>
            </div>
          </div>
          <% } %>






          <div class="ui divider"></div>

          <div class="ui label Medium">ที่อยู่ที่ทำงาน</div>
          <div class="ui large   list">

            <% if (userData.userPosition != '' && userData.userPosition != undefined && userData.userPosition != null) { %>
            <div class="item">
              <% for(var i=0; i<workplace.length; i++) {%>
              <%if (workplace[i].wpID==userData.userWpID) { %>
              <b><%=workplace[i].wpName%></b>
              <% } %>
              <% } %>
            </div>
            <% } else {%>
            <div class="item">
              <b>ยังไม่ได้ระบุหน่วยงาน</b>
            </div>
            <% } %>

            <% if (userData.userPosition != '' && userData.userPosition != undefined && userData.userPosition != null) { %>
            <div class="item">
              <%=userData.userSubWpName%>
            </div>
            <% } else {%>
            <div class="item">ยังไม่ได้ระบุฝ่ายที่ทำอยู่</div>
            <% } %>


          </div>
          <div class="ui divider"></div>

          <div class="ui label Medium">
            ติดต่อที่ทำงาน
          </div>
          <div class="ui large list">
            <div class="item">
              <div class="middle aligned content">
                <% if (userData.firstname != '' && userData.firstname != undefined && userData.firstname != null) { %>
                <i class="phone icon"></i> <%=userData.userWorkTel%>
                <% } else {%>
                <i class="phone icon"></i> ยังไม่ได้ใส่เบอร์โทร
                <% } %>
              </div>
            </div>
            <div class="item">
              <div class="middle aligned content">
                <% if (userData.firstname != '' && userData.firstname != undefined && userData.firstname != null) { %>
                <i class="envelope icon"></i> <%=userData.userWorkEmail%>
                <% } else {%>
                <i class="envelope icon"></i> ยังไม่ได้ใส่อีเมล
                <% } %>
              </div>
            </div>
          </div>

          <div class="ui divider"></div>

          <div class="ui label Medium">
            สายงานที่เชี่ยวชาญ
          </div>

          <div class=" large ui  list">
            <li>
              <% if (userData.userExpertiseID != ' ' && userData.userExpertiseID != undefined ) { %>
              <% for(var i=0; i<expertise.length; i++) {%>
              <%if (expertise[i].expertiseID==userData.userExpertiseID) { %>
              <b><%=expertise[i].expertiseName%></b>
              <% } %>
              <% } %>
              <ul>
                <% var arrayUserData = userData.userSubExpertiseID %>
                <% var array = arrayUserData.split(',') %>
                <% for(var i=0; i<array.length; i++) {%>

                <% for(var j=0; j<subexpertise.length; j++) {%>
                <%if (subexpertise[j].subExpertiseAI_ID==array[i]) { %>
                <li><%=subexpertise[j].subExpertiseName%></li>
                <% } %>
                <% } %>
                <% } %>
                <% } else {%>
                <li>ไม่ได้ระบุ</li>
                <% } %>
              </ul>
            </li>

          </div>


          <% if (userData.facebook == null  && userData.instagram == null  && userData.twitter == null  && userData.line == null) { %>

          <% } else {%>
            <div class="ui divider"></div>
            <div class="ui basic center aligned  segment">
              <h2 class="ui sub header centered">Other way to contact with me</h2>
              <div class="ui tiny horizontal divided list ">

                <% if (userData.facebook != ' ' && userData.facebook != undefined ) { %>
                <div class="item">
                  <a class="ui basic image mini" href="<%=userData.facebook%>" target="_blank">
                    <img src="image/brand-img/f_logo_RGB-Blue_58.png">
                  </a>
                </div>
                <% } %>

                <% if (userData.instagram != ' ' && userData.instagram != undefined ) { %>
                <div class="item">
                  <a class="ui basic image mini" href="<%=userData.instagram%>" target="_blank">
                    <img src="image/brand-img/glyph-logo_May2016.png">
                  </a>
                </div>
                <% } %>

                <% if (userData.twitter != ' ' && userData.twitter != undefined ) { %>
                <div class="item">
                  <a class="ui basic image mini" href="<%=userData.twitter%>" target="_blank">
                    <img src="image/brand-img/Twitter_Social_Icon_Rounded_Square_Color.png">
                  </a>
                </div>
                <% } %>

                <% if (userData.line != ' ' && userData.line != undefined ) { %>
                <div class="item">
                  <a class="ui basic image mini ">
                    <img src="image/brand-img/LINE_APP.png">
                  </a>
                </div>
                <% } %>

              </div>
            </div>
          <% } %>

        </div>
      </div>

      <div class="column eleven wide">
        <div class="row">

          <div id="context1">
            <div class="ui top attached tabular menu">

              <a class="item active" data-tab="first">ผลงานของฉัน</a>
              <a class="item" data-tab="second">ทักษะ</a>
              <a class="item" data-tab="third">การศึกษาและการทำงาน</a>
            </div>
            <div class="ui tab attached  segment active" data-tab="first">
              <% include ../pages/profile/portforio %>
            </div>
            <div class="ui tab attached  segment" data-tab="second">
              <% include ../pages/profile/skill %>
            </div>
            <div class="ui tab attached  segment" data-tab="third">
              <% include ../pages/profile/experienceAndEducation %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <% include ../partials/footer %>
</body>
